


.navtopv1:after {
    background: #cf142b !important;
    width: 50%;
    right: 0;
    position: absolute;
    top: 0;
    content: "";
    height: 124px;
    display: inline-block;
}

.navtopv2:after {
    
    width: 50%;
    right: 0;
    position: absolute;
    top: 0;
    content: "";
    height: 124px;
    display: inline-block;
}

.text-proy{
    width: 800px;
    height: 200px;
    margin: 90px auto;
    position: relative;
    text-align: center;
}


.proy{
    text-align:justify;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


.qs {
    display: grid;
    background: #fff;
    padding: 100px;
    width: 70%;
    max-width: 1200px;
    margin: auto;
    justify-content: space-evenly; /*Alinear con un mismo espacio"en vez de padding"*/
    box-shadow: 0 0 20px -10px rgba(138, 135, 135, 0.5);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 120px;
    grid-row-gap: 10px;
    }
    
    .se { grid-area: 1 / 1 / 2 / 2; }
    .seimg { grid-area: 1 / 2 / 2 / 3; }
    .mi { grid-area: 2 / 1 / 3 / 2; }
    .miimg { grid-area: 2 / 2 / 3 / 3; }
    .vi { grid-area: 3 / 1 / 4 / 2; }
    .viimg { grid-area: 3 / 2 / 4 / 3; }
    .nv { grid-area: 4 / 1 / 5 / 3; }



.grid1{
    background: #fff;
    /*height: 75vh;*/
    width: 80%;
    max-width: 1200px;
    margin: auto;
    box-shadow: 0 0 20px -10px rgba(138, 135, 135, 0.5);
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(6,1fr);
    overflow: hidden;
    }
    
.grid1__texts{
        grid-row: 2/-2;
        grid-column: 2/8;
        display: flex;
    }



.flex-container{
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    padding: 20px;
    
}

.flex-container div{
    width: 390px;
    margin:40px;
    text-align: center;
    line-height: 7px;
}

.servicios {
    display: grid;
    padding: 70px;
    background: #fff;
    /*height: 70vh;*/
    width: 80%;
    max-width: 1200px;
    margin: auto;
    box-shadow: 0 0 20px -10px rgba(138, 135, 135, 0.5);
    grid-template-columns: 2fr repeat(1, 1fr);
    grid-template-rows: (2fr, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 1px;
}
    
    .ser_text { grid-area: 1 / 1 / 4 / 2; }
    .ser_img1 { grid-area: 1 / 2 / 2 / 4; width: 495px; height: 300px; border: 1px solid #cf142b;}
    .ser_img2 { grid-area: 2 / 2 / 3 / 3; width: 200px; height: 150px; border: 1px solid #cf142b;}
    .ser_img3 { grid-area: 2 / 3 / 3 / 4; width: 200px; height: 150px; border: 1px solid #cf142b;}

    

.parent {
    display: grid;
    padding: 100px;
    background: #fff;
    /*height: 105vh;*/
    width: 80%;
    max-width: 1200px;
    margin: auto;
    box-shadow: 0 0 20px -10px rgba(138, 135, 135, 0.5);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 10px;
}
        
.div1 { grid-area: 1 / 1 / 4 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 2 / 3 / 3; }
.div4 { grid-area: 3 / 2 / 4 / 3; }
        
}

.imagenes{
width: 300px;
height: 200px;
margin-bottom: 20px;
object-fit: cover;
border: 1px solid #cf142b;
}


@media only screen and  (max-width: 1199px) {
    /*-------------------------------------
            HOME 1
    --------------------------------------*/

    .consultant {
        display: none;
    }
    .navtopv1:after {
        display: none;
    }
    .menu-skew:after {
        display: none;
    }

}


.ic-search {
    position: absolute;
    right: 2px;
    z-index: 999;
    top: 1px;
    cursor: pointer;
    padding: 18px 1px;
    font-size: 14px;
}







@media only screen and (min-width:1501px) and (max-width: 2000px) {

    .movimiento_logo{
    position: relative;
    top:-10px;
    left: -15%;
    }

    .navbar-nav {       /* Menús CPP*/
    
    margin-left: -30px;
    }    

    .skew-footer {
    position: relative;
    margin-left: -80;
    }

    
    .footer-logo {
    padding-bottom: 2px;
    padding-top: 55px;
    margin-left: 100px;
    left: 400px;
    margin-top:  -40px;
    }


    .img-responsive-footer{
    display: block;
    max-width: 55%;
    height: auto;
    }

    .img-responsive2{
    display: inline-block;
    max-width: 168%;
    height: auto;
    }

    .col-md-9{
    width: 60%;
    }

    .qs {
        
        padding: 125px;
        background: #fff;
       
        width: 70%;
        max-width: 1200px;
        margin: auto;
        overflow: hidden;
        justify-content: space-evenly ;
        box-shadow: 0 0 20px -10px rgba(138, 135, 135, 0.5);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 120px;
        grid-row-gap: 30px;
        display: grid;
        }
        
        .se { grid-area: 1 / 1 / 2 / 2; }
        .seimg { grid-area: 1 / 2 / 2 / 3; }
        .mi { grid-area: 2 / 1 / 3 / 2; }
        .miimg { grid-area: 2 / 2 / 3 / 3; }
        .vi { grid-area: 3 / 1 / 4 / 2; }
        .viimg { grid-area: 3 / 2 / 4 / 3; }
        .nv { grid-area: 4 / 1 / 5 / 3; }
    
        
     
}

@media only screen and (min-width:1300px) and (max-width: 1500px) {

    .movimiento_logo{
        position: relative;
        top:-10px;
        left: 1%;
             
     }

     .img-responsive{
        display: block;
       max-width: 60%;
       height: auto;
    }

    .navbar>.container .navbar-brand {
        margin-left: -90px;
    }

    .navbar-nav {       /* Menús CPP*/
    
        margin-left: -50px;
    }    

    .skew-footer {
        position: relative;
        margin-left: 90px;
    }

    .footer-logo {
        padding-bottom: 20px;
        padding-top: 30px;
        margin-left: 10px;
        left: 360px;
        margin-top:  -20px;
    }
   

    .img-responsive-footer{
        display: block;
        max-width: 50%;
        height: auto;
    }

    .img-responsive2{
        display: inline-block;
      max-width: 170%;
      height: auto;
    }

    .col-md-9{
        width: 60%;
    }

    .qs {
        display: grid;
        background: #fff;
        padding: 100px;
        width: 70%;
        max-width: 1200px;
        margin: auto;
        justify-content: space-evenly; /*Alinear con un mismo espacio"en vez de padding"*/
        box-shadow: 0 0 20px -10px rgba(138, 135, 135, 0.5);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 40px;
        }
        
        .se { grid-area: 1 / 1 / 2 / 2; }
        .seimg { grid-area: 1 / 2 / 2 / 3; }
        .mi { grid-area: 2 / 1 / 3 / 2; }
        .miimg { grid-area: 2 / 2 / 3 / 3; }
        .vi { grid-area: 3 / 1 / 4 / 2; }
        .viimg { grid-area: 3 / 2 / 4 / 3; }
        .nv { grid-area: 4 / 1 / 5 / 3; }

    .grid1{
        background: #fff;
        height: 66vh;
        width: 80%;
        max-width: 1200px;
        margin: auto;
        box-shadow: 0 0 20px -10px rgba(138, 135, 135, 0.5);
        display: grid;
        grid-template-columns: repeat(8,1fr);
        grid-template-rows: repeat(6,1fr);
        overflow: hidden;
        }
        
        .grid1__texts{
            grid-row: 2/-2;
            grid-column: 2/8;
            display: flex;
        }


    /*.servicios {
        display: grid;
        padding: 70px;
        background: #fff;
        height: 105vh;
        width: 80%;
        max-width: 1200px;
        margin: auto;
        box-shadow: 0 0 20px -10px rgba(138, 135, 135, 0.5);
        /*grid-template-columns: 2fr repeat(1, 1fr);
        grid-template-columns: repeat (auto-fill, minmax(15rem, 1fr));
        grid-template-rows: (3fr, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 1px;
    }
        
        .ser_text { grid-area: 1 / 1 / 4 / 2; }
        .ser_img1 { grid-area: 1 / 2 / 2 / 4; width: 460px; height: 300px; border: 1px solid #cf142b;}
        .ser_img2 { grid-area: 2 / 2 / 3 / 3; width: 200px; height: 150px; border: 1px solid #cf142b;}
        .ser_img3 { grid-area: 2 / 3 / 3 / 4; width: 200px; height: 150px; border: 1px solid #cf142b;}*/

        

    .parent {
        display: grid;
        padding: 70px;
        background: #fff;
        height: 170vh;
        width: 80%;
        max-width: 1200px;
        margin: auto;
        box-shadow: 0 0 20px -10px rgba(138, 135, 135, 0.5);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 80px;
        grid-row-gap: 10px;
    }
            
    .div1 { grid-area: 1 / 1 / 4 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 2 / 2 / 3 / 3; }
    .div4 { grid-area: 3 / 2 / 4 / 3; }
            
}

.imagenes{
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
    object-fit: cover;
    border: 1px solid #cf142b;
}

   

@media only screen and (min-width:1200px) and (max-width: 1299px) {

    .movimiento_logo{
        position: relative;
        top:0px;
        left: -1%;
    }

    .img-responsive{
        display: block;
       max-width: 85%;
       height: auto;
    }

  /* Menús CPP*/   
.navbar-nav {      
    margin-left: -50px;
    }

    .skew-footer {
        position: relative;
        margin-left: 40px;
    }

    .footer-logo {
        padding-bottom: 10px;
        padding-top: 30px;
        margin-left: 10px;
        left: 190px;
        margin-top:-20px;
    }

    .img-responsive-footer{
        display: block;
        max-width: 50%;
        height: auto;
    }

    .img-responsive2{
      display: inline-block;
      max-width: 130%;
      height: auto;
      /*border-radius: 10px;*/
    }

    .col-md-9{

        width: 60%;    
    }

    .grid1{
        background: #fff;
        height: 54vh;
        width: 80%;
        max-width: 1200px;
        margin: auto;
        box-shadow: 0 0 20px -10px rgba(138, 135, 135, 0.5);
        display: grid;
        grid-template-columns: repeat(8,1fr);
        grid-template-rows: repeat(6,1fr);
        overflow: hidden;
        }
        
        .grid1__texts{
            grid-row: 2/-2;
            grid-column: 2/8;
            display: flex;
        }

        .qs {
            display: grid;
            background: #fff;
            padding: 100px;
            width: 70%;
            max-width: 1200px;
            margin: auto;
            justify-content: space-evenly; /*Alinear con un mismo espacio"en vez de padding"*/
            box-shadow: 0 0 20px -10px rgba(138, 135, 135, 0.5);
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 50px;
            grid-row-gap: 40px;
            }
            
            .se { grid-area: 1 / 1 / 2 / 2; }
            .seimg { grid-area: 1 / 2 / 2 / 3; }
            .mi { grid-area: 2 / 1 / 3 / 2; }
            .miimg { grid-area: 2 / 2 / 3 / 3; }
            .vi { grid-area: 3 / 1 / 4 / 2; }
            .viimg { grid-area: 3 / 2 / 4 / 3; }
            .nv { grid-area: 4 / 1 / 5 / 3; }
    

    

    
}
    

@media only screen and (min-width: 992px) and  (max-width: 1199px) {

    .movimiento_logo{
        position: relative;
        top:-10px;
        left: -4%;
    }

    .img-responsive{
        display: block;
       max-width: 75%;
       height: auto;
    }
    
    .navbar-nav {       /* Menús CPP*/
    
        margin-left: -90px;
    }

    .img-responsive1{
        display: inline-block;
      max-width: 100%;
      height: auto;
    }

    .skew-footer {
        position: relative;
        margin-left: 40px;
    }

    .footer-logo {
        padding-bottom: 20px;
        padding-top: 1px;
        left: 140px;
        margin-top:  7px;
    }

    .col-md-4{
        width: 400px;
    }

    .skew-footer:before {
        display: none;
    }

    .img-responsive-footer{
        display: block;
        max-width: 50%;
        height: auto;
    }

    .img-responsive2{
    display: inline-block;
    max-width: 135%;
    height: auto;
    /*border-radius: 10px;*/
    }

    .col-md-9{
        width: 60%;
        margin-left: 10px;    
    }

    .col-md-3 {
        width: 30%;
    }



    .page-headding1 {
    
    padding: 10px 0;
    text-align: center;
    }



    .footer  {
    font-size: 14px;
    color: white;
    line-height: 15px !important;
    }

    .footer-top {
    background: #333333;
    padding: 20px 0;
    }

    .skew-footer:before {
    position: absolute;
    width: 1px;
    height: 100%;
    background: #444444;
    top: 0;
    left: 400px;
    content: "";
    transform: skew(-10deg);
    -ms-transform: skew(-10deg);
    -webkit-transform: skew(-10deg);
    }

    .page-headding1{
    padding: 10px 0;
    text-align: center;
    }

    #video, video{
    margin: 0 auto;
    padding-top: 40px;
    width: 700px;
    height: 550px;
    }

    .map-logo {
    position: absolute;
    top: 39%;
    left: 47.5%;
    }

    .ip-search {
    color: white;
    }

}

@media only screen and (max-width: 991px) {

    .movimiento_logo{
        position: relative;
        top:-30px;
        left: 5%;
    }

    .img-responsive{
        display: block;
       max-width: auto;
       height: auto;
    }
    .ic-search {
        position: absolute;
        right: 10px;
        z-index: 999;
        top: -125px;
        cursor: pointer;
        padding: 18px 15px;
        font-size: 14px;
    }

    .qs {
        display: grid;
        background: #fff;
        padding: 100px;
        width: 70%;
        max-width: 1200px;
        margin: auto;
        justify-content: space-evenly; /*Alinear con un mismo espacio"en vez de padding"*/
        box-shadow: 0 0 20px -10px rgba(138, 135, 135, 0.5);
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 90px;
        }
        
        .se { grid-area: 1 / 1 / 2 / 2; }
        .seimg { grid-area: 1 / 2 / 2 / 3; }
        .mi { grid-area: 2 / 1 / 3 / 2; }
        .miimg { grid-area: 2 / 2 / 3 / 3; }
        .vi { grid-area: 3 / 1 / 4 / 2; }
        .viimg { grid-area: 3 / 2 / 4 / 3; }
        .nv { grid-area: 4 / 1 / 5 / 3; }

    



}     

@media only screen and (min-width: 200px) and (max-width: 991px) {
    
   

    .img-responsive-footer{
        display: block;
        max-width: 40%;
        height: auto;
        left: 100px;
    }

    .footer-logo {
        padding-bottom: 20px;
        padding-top: 50px;
        left: auto;
        margin-top:  -40px;
        
    }

    

}


@media only screen and (min-width: 481px) and  (max-width: 767px) {

    .movimiento_logo{
        position: relative;
        top:-10px !important;
        left: 1%;
             
     }

     .img-responsive{
        display: block;
       max-width: 40% !important;
       height: auto;
    }

}

@media only screen and (max-width: 480px){

    .movimiento_logo{
        position: relative;
        top:-1px !important;
        left: 3%;
             
     }

     .img-responsive{
        display: block;
       max-width: 100% !important;
       height: auto;
    }

    .title-3 {
        font-size: 25px;
    }

}

/*@media only screen and (min-width: 767px)and (max-width: 991px){

    .footer-logo {
        padding-bottom: 20px;
        padding-top: 1px;
        /*margin-left: -40px;*/
       /* left: auto;
        margin-top:  10px;
    }

    .img-responsive{
        display: block;
       max-width: 40% !important;
       height: auto;
    }
}*/